.container {
    width: var(--default-layout-width, 1150px);
    display: flex;
    padding-left: var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    justify-content: center;
}
